.DS_Store
/.gitignore
/.htaccess
/administrator
/api
/components
/dist
/images
/language
/layouts
/libraries
/cache
/bin
/cli
/includes
/installation
/logs
/media
/modules
/plugins
/templates
/tmp
/configuration.php
/index.php
/joomla.xml
/*.txt

!/language/en-GB/en-GB.lib_profilepicture.sys.ini
!/libraries/mosets/profilepicture/
!/media/plg_media_profilepicture
!/plugins/user/profilepicture
